body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
  display: table;
  border-spacing: 2px;
  border-color: black;
  font-family: arial;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  font-weight: bold;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  padding-bottom: 5px;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 60px;
  border-bottom: solid;
}
h2{
  font-size: 20px;
}
#moma_bear {
  border: none;
  /*background: url(exit116.jpg) no-repeat;*/
  clear:both;
  /*background-color: #eee;*/
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 72px;
  padding-top: 80px;
}
#moma_bear a{
  color: white;
  background-color: rgba(20, 20, 20, 0.6);
  width: inherit;
  text-decoration: none;
}
#p#bold{
  padding-top:5px;
}
#PNC {
  float: left;
  padding-top: 6px;
  margin: 0px;
  color: white;
}
h3{
  font-size: 18px;
}
p {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 15.5px;
  font-family: arial
}
#main {
  margin-top: 30px;
  clear:both;
  padding: 15px;
  width: 930px;
}

#first_banner {
  background-image: url('../festival.jpg');
  background-position:center;
  min-height: 220px;
}

#connect_buttons {
  margin: 5px;
  margin-top: 16px;
  float:right;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 5px;
}

.container {
  width: 960px;
  margin: auto;
  background: #eee;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

.copyright {
  width: 960px;
  text-align: center;
}

nav {
  clear: both;
}

li {
  display: inline-block;
}

#border{
  width: 960px;
  margin: auto;
  color: white;
  background-color: black;
}

header {
  margin-bottom: 10px;
}

footer {
  width: 960px;
  clear: both;
  background: #eee;
  margin-top: 10px;
  margin: auto;
  margin-top: 30px;
  padding-left: 5px;
  padding-bottom: 5px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}
#small {
  padding-top: 20px;
  padding-left: 155.5px;
}
/*add a line for the buttons themselves*/
.buttons {
  /*generalize width to 100%*/
  width: 100%;
  background-color: DodgerBlue;
}

.buttons li {
  /*give them some space from the exit title*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  /*spead width amongst buttons*/
  width: 237px;
}

.buttons li a, .buttons a li {
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
}
.buttons li:hover {
  background-color: grey;
}
.buttons li:visited {
  background-color: grey;
}

#test {
  font-size: 16px;
}

a:visited {
  background-color: black;
}

aside ul li{
  padding-left: 15px;
}
