body {
}
#main {
clear:both;
}
#first_banner {
float: left;
}
#connect_buttons {
float:right;
}
.container {
width: 960px;
margin: auto;
}
nav {
clear: both;
}
li {
display: inline-block;
}
header {
background: #eee;
}
