body {
background-color: black;
}
h1{
  font-family: Georgian;
  font-size: 26px;
  border-bottom: solid;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
p {
  font-style: Verdana;
  font-size: 15.5px;
}
#main {
  clear:both;
}

#first_banner {
  float: left;
}

#connect_buttons {
  float:right;
}

.container {
  width: 960px;
  margin: auto;
  background: #eee;

}
nav {
  clear: both;
}

li {
  display: inline-block;
}

#border{
width: 960px;
margin: auto;
border: black solid;
text-color: white;
background-color: black;
}

header {
  margin-bottom: 10px;
}

footer {
  width: 960px;
  clear: both;
  background: #eee;
  margin-top: 10px;
  margin: auto;
  margin-top: 10px;
}
#small {
  padding-top: 20px;
  padding-left: 155.5px;
}
/*add a line for the buttons themselves*/
.buttons {
  /*generalize width to 100%*/
  width: 100%;
  background-color: #3498db;
}

.buttons li {
  /*give them some space from the exit title*/
  padding: 10px;
  /*spead width amongst buttons*/
  width: 20%;
}

.buttons li a {
  font-family: arial;
  color: white;
  text-decoration: none;
}
.buttons li:hover {
  background-color: gray;
}


